@import "compass";
@import "compass/css3";


//////////////////////////////color palette/////////////////
$black: #000;
$dark-grey: #333;
$grey: #ccc;
$light-grey: #ebebeb;
$off-white: #f5f5f5;
$white: #ffffff;
$blue1: #3498db;
$blue2: #2980b9;
$red1: #e74c3c;
$red2: #c0392b;
$yellow: #FFF9C4;
$yellow1: #f1c40f;
$yellow2: #f39c12;
$green1: #2ecc71;
$green2: #27ae60;
$orange: #FFE0B2;
$orange1: #e67e22;
$orange2: #d35400;
$aqua1: #1abc9c;
$aqua2: #16a085;
$purple1: #9b59b6;
$purple2: #8e44ad;
$navy1: #34495e;
$navy2: #2c3e50;
$cyan1: #B2EBF2;
$cyan2: #00BCD4;
$cyan3: #0097A7;
$gray1: #9E9E9E;
$gray2: #616161;
$pink:#F8BBD0;
$pink1:#E81D62;
$pink2:#C2185B;
$brown:#D7CCC8;
$brown1:#795548;
$brown2:#5D4037;

// =======THEME=========
//http://www.materialpalette.com/light-blue/light-blue
// allowed values: CYAN, INDIGO, BLUE, YELLOW, BROWN, ORANGE, GREEN

$theme: INDIGO;

$primary-color-dark:   #0288D1;
$primary-color:        #03A9F4;
$primary-color-light:  #B3E5FC;
$primary-color-text:   #FFFFFF;
$accent-color:         #03A9F4;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;


// setting theme
@if $theme ==CYAN{
    $primary-color-dark:   #0097A7;
    $primary-color:        #00BCD4;
    $primary-color-light:  #B2EBF2;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #00BCD4;
}
@else if $theme == INDIGO{
    $primary-color-dark:   #303F9F;
    $primary-color:        #3F51B5;
    $primary-color-light:  #C5CAE9;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #536DFE;
}
@else if $theme == BLUE{
    $primary-color-dark:   #1976D2;
    $primary-color:        #2196F3;
    $primary-color-light:  #BBDEFB;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #536DFE;
}
@else if $theme == GREEN{
    $primary-color-dark:   #388E3C;
    $primary-color:        #4CAF50;
    $primary-color-light:  #C8E6C9;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #536DFE;
}
@else if $theme == ORANGE{
    $primary-color-dark:   #E64A19;
    $primary-color:        #FF5722;
    $primary-color-light:  #FFCCBC;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #FF5722;
}
@else if $theme == BROWN{
    $primary-color-dark:   #5D4037;
    $primary-color:        #795548;
    $primary-color-light:  #D7CCC8;
    $primary-color-text:   #FFFFFF;
    $accent-color:         #795548;
}
@else if $theme == YELLOW {
    $primary-color-dark:   #FBC02D;
    $primary-color:        #FFEB3B;
    $primary-color-light:  #FFF9C4;
    $primary-color-text:   #212121;
    $accent-color:         #FFEB3B;
}

// Background
$primary-background: $white;
$secondary-background: $light-grey;
$inverse-background: $primary-color;


//Links
$primary-link-color: $accent-color;
$primary-link-color-hover: darken($accent-color,15%);

//Borders
$border-color: $divider-color;
$border-focus: darken($divider-color,15%);

//Typography
$body-font: "Lato", helvetica, arial, verdana, sans-serif;
$heading-font: "Titillium Web", helvetica, arial, verdana, sansserif;
$line-height: 1rem;
$font-size: 1rem;

//Layout
$margin: 1rem;
$padding: 1rem;


//////////////////////////////MIXINS/////////////////


//////////////////////////////Base/////////////////

body {
    margin: 0;
    font-family: $body-font, Arial, Helvetica, sans-serif;
    font-size: $font-size;
    line-height: $line-height*1.3;
    // We are defining the text color with a mixin
}

// Fixes overlapping issues
// Makes the rendered box elements padding, borders, etc.
// fit into the width

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: $primary-color-light;
    &:hover, &:focus {
        color: lighten($primary-color-light,10%);
    }
    &:visited {
        color: darken($primary-color-light,10%);
    }
}

///////////////////////////STYLE///////////////////////////////////

.container{
    background-color: $accent-color;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    header {
        h1{}
        h3{}
    }
    .content{

        .sidebar {
            h3{

            }
            p{

            }
        }
    }
    .main {
        h2{

        }
        .nested-container {
            .item {

            }
            .item1 { background-color: $primary-color;}
            .item2 { background-color: darken($primary-color,10%);}
            .item3 { background-color: darken($primary-color,20%);}
            .item4 { background-color: darken($primary-color,40%);}
        }
        p {

        }
    }
}

footer {

}

.container1 {
    background-color: $accent-color;
    margin: 0 auto;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    .item {
        padding:10px;
        margin:10px;
        width: 250px;

    }
    .item1{background-color:$red1;  flex: 1 ;    }
    .item2{background-color:$orange;flex: 1 ; }
    .item3{background-color:$yellow;flex: 1 ; }
    .item4{background-color:$green1;flex: 1 ; }
}

@media (max-width: 600px) {
    .item1{order:1;}
    .item2{order:4;}
    .item3{order:30;}
    .item4{order:2;}
}