<h1>{{vm.customer.name}}'s Orders</h1>

<table class="table table-hover table-bordered">
   <tr class="table-header">
      <th> Product</th>
      <th> Price</th>
      <th> Quantify</th>
      <th> Subtotal</th>
   </tr>
   <tr ng-repeat="order in vm.customer.orders" >
      <td>{{ order.product | uppercase}}</td>
      <td>{{ order.price | currency}}</td>
      <td>{{ order.quantity}}</td>
      <td>{{ order.price * order.quantity | currency}}</td>
   </tr>
   <tr>
      <td></td>
      <td></td>
      <td></td>
      <td> {{vm.total | currency}}(total)</td>
   </tr>
</table>
