<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
   <div class="container">
      <h1>Demo website</h1>
      <p>This website is built with Angularjs + Bootstrap + Nodejs + CSS3 + HTML5. There are 4 sections on this website Bootstrap, AngularJS, Ionic, MVC5+EF6.</p>
   </div>
</div>

<div class="container content">
   <div class="main">
      <div id="row1" class="row row1">
         <div class="col-md-6">
            <h3><img src="img/bootstrap-icon.png" alt=""/></h3>
            <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</p>
            <p>Designed for everyone, everywhere.
               Bootstrap makes front-end web development faster and easier. It's made for folks of all skill levels, devices of all shapes, and projects of all sizes.</p>
            <p><a ui-sref="bootstrap.restaurant" class="btn btn-default"  role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-6">
            <h3><img src="img/angularjs.png" alt=""/></h3>
            <h3>Why AngularJS ?</h3>
            <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
            <p><a ui-sref="angularjs.weatherApp" class="btn btn-default" role="button">View details &raquo;</a></p>
         </div>
      </div>
      <div id="row2" class="row row2">
         <div class="col-md-6">
            <h3><img src="img/ionic2.png" alt=""/> IONIC</h3>
            <p>Create mobile apps with the web technologies you love.
               Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components and tools for building highly interactive native and progressive web apps. Built with Sass, optimized for AngularJS.</p>
            <p><a ui-sref="ionic.iNhaKhoa" class="btn btn-default" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-6">
            <h3><img src="img/mvc.jpg" alt=""/></h3>
            <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that enables a clean separation of concerns and that gives you full control over markup for enjoyable, agile development. ASP.NET MVC includes many features that enable fast, TDD-friendly development for creating sophisticated applications that use the latest web standards.</p>
            <p><a ui-sref="mvc.dos" class="btn btn-default" role="button">View details &raquo;</a></p>
         </div>
      </div>
   </div>
</div>