<div class="jumbotron">
   <div class="container">
      <h1>MEAN - under construction</h1>
   </div>
</div>
<div class="container content">
   <div class="main">
      <div id="row1" class="row row1">
         <div class="col-md-6">
            <h3><img src="img/bootstrap-icon.png" alt=""/></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-6">
            <h3><img src="img/angularjs.png" alt=""/></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
      </div>
      <div id="row2" class="row row2">
         <div class="col-md-6">
            <h3><img src="img/ionic2.png" alt=""/></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
         <div class="col-md-6">
            <h3><img src="img/mvc.jpg" alt=""/></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
         </div>
      </div>
      <div id="row3" class="row row3">
         <h2>Row 3</h2>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
      </div>
      <div id="row4" class="row row4">
         <h2>Row 4</h2>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
      </div>
      <div id="row5" class="row row5">
         <h2>Row 5 </h2>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
         <div class="col-md-4"></div>
      </div>
   </div>
</div>