<div  class="container">
   <div class="restaurant">
      <div class="jumbotron">
         <h2>Resources </h2>
         <p> Collections </p>
      </div>
      <div id="secret-resource" class="row">
         <div class="col-sm-12">
            <p><a class="btn btn-primary" target="_blank" href="https://placehold.it/#">Placehold.it</a></p>
            <p><a class="btn btn-primary" target="_blank" href="http://lorempixel.com">lorempixel</a></p>
            <p><a class="btn btn-primary" target="_blank" href="http://bootsnipp.com"> Bootsnipp </a></p>

         </div>
      </div>
      <div class="row"></div>
   </div>
</div>