<div id="angularjs" class="container">
   <nav class="navbar subnavbar" role="navigation">
      <div class="container">
         <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
               <!--<li><a ui-sref-active="activeState" ui-sref="angularjs.demo1" >demo1</a></li>-->
               <li><a ui-sref-active="activeState" ui-sref="angularjs.demo2.customers" >Customers</a></li>
               <!--<li><a ui-sref-active="activeState" ui-sref="angularjs.demo3" >demo3</a></li>-->
               <li><a ui-sref-active="activeState" ui-sref="angularjs.weatherApp">Weather</a></li>
               <!--<li><a ui-sref-active="activeState" ui-sref="angularjs.demo5" >demo5</a></li>-->
               <!--<li><a ui-sref-active="activeState" ui-sref="angularjs.demo6" >demo6</a></li>-->
               <!--<li><a ui-sref-active="activeState" ui-sref="angularjs.demo7" >demo7</a></li>-->
            </ul>
         </div>
         <!--/.navbar-collapse -->
      </div>
   </nav>
   <!-- //subnav -->


   <div ui-view >
      <div class="jumbotron">
         <div class="container">
            <h1>AngularJS1234</h1>
         </div>
      </div>
      <div>
         <h1>abc</h1>
      </div>
   </div>
</div>